.RadioButtons {
	background: transparent;
	position: relative;
}

.RadioButtons .legend {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.54);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	left: 0;
	letter-spacing: 0.00938em;
	line-height: 1;
	padding: 0 5px;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translate(14px, -6px) scale(0.75);
	transform-origin: top left;
	z-index: 1;
}

.RadioButtons .MuiGrid-item button {
	width: 100%;
}

.RadioButtonsBorder {
	border-color: rgba(0, 0, 0, 0.23);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 8px;
}

.RadioButtonsLabel {
	padding-top: 15px;
}

.RadioButtons:hover {
	border-color: rgba(0, 0, 0, 1);
}